<li>{{board.author}}:{{board.question}}</li>

<ul>
  {{#each board.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>

<button {{action 'delete' board}}>Delete Query</button>
