<div>
  <h1>Messages</h1>
  <p>This is a message board where a user gets to ask questions and receive answers from the various authors.</p>
  <div>
    <ol>
      {{#each model.questions as |board|}}
        {{boards-tile board=board}}
      {{/each}}
    </ol>
    {{new-query saveQuery1='saveQuery2'}}
  </div>
</div>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
